@import "./fonts.css";
@import "./variables.css";

.header {
  position: fixed;
  left: 0;
  right: 0;
  box-sizing: border-box;
  height: 70px;
  padding: 10px 50px;
  background: var(--bg_dark);
  font-family: var(--BarkingCat);
  font-size: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  width: 60%;
}

.navigation ul {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.navigation ul a {
  text-decoration: none;
  color: #99ffab;
}

.navigation ul a:hover {
  text-shadow: var(--shadow);
}

.logo {
  background: url("./images/book.png") no-repeat;
  background-size: contain;
  width: 60px;
  height: 60px;
}

.projectName {
  display: inline-block;
  align-self: center;
  color: var(--white_color);
  font-weight: 800;
}
