.gallery {
  position: relative;
}

.arrowRight {
  cursor: pointer;
  background: url("./images/gray-arrow.png") center no-repeat;
  border: none;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  position: absolute;
  right: -30px;
  top: 40%;
  z-index: 1000;
}

.arrowLeft {
  cursor: pointer;
  background: url("./images/gray-arrow.png") center no-repeat;
  border: none;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  position: absolute;
  transform: scale(-1, 1);
  left: -30px;
  top: 40%;
  z-index: 1000;
}

.arrowRight:hover,
.arrowLeft:hover,
.arrowRight:focus {
  box-shadow: #81528f 0 0 8px;
}

.slider {
  display: flex;
  justify-content: space-between;
}

.slideCount {
  text-align: center;
  margin: 0 auto 20px;
}

.learnedCount {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: var(--bg_dark);
}

.learnedCount span {
  color: rgb(75 34 192);
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}
