.editor {
  padding: 12px 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.save {
  background: url("./images/tick.png");
  background-size: contain;
  width: 20px;
  height: 20px;
  margin: 0 3px;
}
.edit {
  background: url("./images/pencil.png");
  background-size: contain;
  width: 20px;
  height: 20px;
  margin: 0 3px;
}
.delete {
  background: url("./images/bin.png");
  background-size: contain;
  width: 20px;
  height: 20px;
  margin: 0 3px;
}

.save:hover,
.edit:hover,
.delete:hover {
  cursor: pointer;
}

.table .edit {
  width: 60px !important;
}
