@import "./variables.css";

.cardContainer {
  perspective: 700px;
}

.cardFlip {
  box-shadow: var(--shadow);
  border-radius: 8px;
  border-spacing: 0;
  background: rgb(105 179 180);
  max-width: 300px;
  padding: 50px;
  margin: 10px auto 30px;
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.card:hover {
  cursor: pointer;
  -moz-text-shadow: 0px -10px 20px rgb(248 248 248);
  -webkit-text-shadow: 0px -10px 20px rgb(248 248 248);
  text-shadow: 0px -10px 20px rgb(248 248 248);
}

.transcription,
.russian {
  margin-top: 5px;
  font-weight: 400;
}

.back {
  transform: rotateY(-180deg);
}

.front {
  transform: rotateY(180deg);
}
